<form (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Login</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName3" [(ngModel)]="auth.username" name="name">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" [(ngModel)]="auth.password" name="pass">
    </div>
  </div>
  <button type="submit" class="btn btn-primary ">Sign in</button>

</form>
