<form (ngSubmit)="onSubmit()">
    <div class="row mb-3-2">
      <label for="Titlein" class="col-sm-2 col-form-label">Game Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Titlein" [(ngModel)]="name"  [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <br>
    <div class="row mb-3-2">
      <label for="Genrein" class="col-sm-2 col-form-label">Game Genre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Genrein" [(ngModel)]="genre"  [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <br>
    <div class="row mb-3-2">
      <label for="Datein" class="col-sm-2 col-form-label">Release date</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="Datein" [(ngModel)]="releasedate"  [ngModelOptions]="{standalone: true}" min="1970" max="2023">
      </div>
    </div>
    <br>
    <div class="row mb-3">
      <label for="Devin" class="col-sm-2 col-form-label">Developer</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Devin" [(ngModel)]="developer" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary ">Submit</button>
  
  </form>
