.title {
  flex-grow: 1;
}
.container-fluid{
  background-color: #3579e0;
}

.bg-body-tertiary {
  background-color: #3c7cdc !important;
  margin-bottom: 20px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  width: 300px; /* adjust as needed */
  border: antiquewhite;

}
